html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 35pt;
    padding: 0 0 0.5em 0;
}

.section {
    border: solid 1px gray;
    background: #eeeeee;
    padding: 0 0.5em 0 0.5em;
    display: table;
    font-size: 20pt;
    font-weight: bold;
}

.text {
    text-align: left;
    padding: 1em 0 1em 20pt;
}

.photo {
    padding: 1em 0 0 20pt;
    width: 150px;
    height: 150px;
}