#personal{
    margin-top: 5px;
	margin-bottom: 6px;
    padding-bottom: 8px;
}

#personal{
    margin-top: 5px;
	margin-bottom: 6px;
    padding-bottom: 8px;
}

#contact {
    margin-top: 5px;
    margin-bottom: 6px;
	padding-bottom: 8px;
}

#projects {
    margin-top: 5px;
    margin-bottom: 6px;
	padding-bottom: 8px;
}

#notes {
    margin-top: 5px;
    margin-bottom: 6px;
	padding-bottom: 8px;
}